@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root{
  /* color */
  --primary-color:#00a908;
  --primary-color-hover:#046e09;
  --grey-1:rgb(251, 249, 249);
  --grey-2:#fafafa;
  --grey-3:rgb(243, 243, 243);
  --grey-4:#b4b1b1;
  --grey-5:#e7e7e7;
  --main-color:#0b1631;
  --shadow-color:rgba(9, 29, 51, 0.5);
  --input-hover:#8fb693;
  --white:#fff;

  /* padding */
  --padding-0:0px;
  --padding-5:5px;
  --padding-10:10px;
  --padding-20:20px;
  --padding-30:30px;

  /* radius */
  --border-radius-5:5px ;

  /* width */
  --width-100: 100%;
}


* {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-2);
  position: relative;
  min-width: 50%;
  min-height: 50%;
  padding: var(--padding-30);
  font-size: 0.7rem;
  color: var(--main-color);
}

.container{
    /* background-color: rgb(247, 244, 244); */
    display: flex;
    flex-direction: row;
    padding: var(--padding-20);
    gap: 20px;
    width: 100%;
}
form{
    padding: var(--padding-0);
}
.right-container{
    background-color:var(--white) ;
    /* padding-top: var(--padding-10); */
    padding: var(--padding-20);
    border-radius: var(--border-radius-5);
    border: 0.5px solid var(--grey-5);
    width: 35%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

.right-container *{
    margin: 10px;
}

.left-container{
    background-color: var(--white);
    padding: var(--padding-20);
    border-radius: var(--border-radius-5);
    width: 65%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

input[type=submit]{
    background-color:var(--primary-color);
    color: var(--white);
    border: 0.1px solid var(--grey-2);
    /* padding: var(--padding-5); */
    border-radius: var(--border-radius-5);
    margin: 0;
    
}
input[type=submit]:hover{
    background-color: var(--primary-color-hover);
}

table{
    text-align: center;
    width: var(--width-100);
    border-collapse: collapse;
}

tr,th{
    /* border:1px solid; */
    padding: var(--padding-10);
    border-bottom: #00a908;
    
}
th{
    width:50px;
    background-color:var(--grey-3);
    height: 30px;
}



td {
  padding: var(--padding-10) var(--padding-10) var(--padding-0);
  text-align: center;
  background-color: var(--white);
  outline:none;
  
}


/* General input field styling */
input,select {
  width: var(--width-100);
  padding: var(--padding-10) var(--padding-20);
  color: var(--grey-4);
  
  border: 2px solid var(--grey-3);
  border-radius: var(--border-radius-5);
  outline: none;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Input field on focus */
input:focus , select:hover{
  border-color: var(--primary-color); 
  box-shadow: 0 0 2px var(--shadow-color); 
}

input:hover, select:hover{
  background-color: var(--grey-1);
  border-color: var(--input-hover); 
}


input::placeholder {
  color:var(--grey-3);
  /* font-style: italic; */
}


input:disabled {
  background-color: var(--grey-1);
  color: var(--grey-4);
  cursor: not-allowed;
}

h1{
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary-color-hover);
}

.error-class{
  color: red;
  font-size: 0.7rem;
  margin-top: 0;
}

.hide{
  display:none;
}

.h2-class{
  /* background-color: var(--primary-color); */
  width: var(--width-100);
  height: 30px;
  color: var(--main-color);
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* Popup styles */
.popup{
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-div{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hide{
  display:none;
}

#cl-btn{
  background-color: transparent;
  color: #000;
  text-align: center;
  border-collapse:collapse;
}

.modal-content{
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  border-color: var(--grey-5);
}